@font-face {
    font-family: Roboto-Light;
    src: url(fuentes/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(fuentes/Roboto-Regular.ttf);
}

.Azul
{
 
 background-color: #91B8FF;   
}


body
{
  font-family:Roboto-Light;    
}

#mensajeCargando
{
    background-color: white;
    width: 180px;
    text-align: center;
    max-height: 90px;
    border-radius: 13px;
    border: 1px solid #e3e3e3;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
    z-index: 3000;
    position: absolute;
    left: 42%;
    top: 48%;
}

#mensajeCargando p
{
  margin: 0.3em 0 0.3em 0;
}
